body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right,
    rgb(75, 7, 82) 0%,
    rgb(128, 0, 47) 100%
  );
  text-align: center;
}
.app-title {
  margin-top: 50px;
  margin-bottom: 25px;

  font-size: 75px;
  color :rgb(155, 61, 243);
  font-family: 'Splash', cursive;
}
